body {
  padding: 0;
}

/** List Style **/
ul {
  list-style-type: none;
}

ul.list li {
  padding-bottom: 8px;
  border-bottom: 1px solid #efefef;
}

ul.list .list-image {
  width:70%;
  margin: 0 auto;
}

ul.list .list-details {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

ul.list span.list-title {
  display: inline-block;
  margin-top: 50px;
  font-size: 25px;
}

@media screen and (max-width: 540px) {
  ul.list span.list-title {
    margin-top: 30px;
    font-size: 20px;
  }
}
